* {
	font-family: "Roboto";
	font-variant: small-caps;
}

p:not(.line):not(.unit-property) {
	line-height: 150%;
}

html, body, body>div {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
	margin: 0px;
	height: 100%;
}

html {
	overflow: hidden;
	background-color: #E7EFF7;
}

.tab {
	margin: 0px;
	height: auto;
}

input[type="color"] {
	width: 13px;
	height: 13px;
	padding: 0px;
	border: none;
	margin-right: 3px;
}

input[type="number"] {
	width: 55px;
}

input[type="checkbox"] {
	margin-left: 0px;
}

p, .level-1, .level-2 {
	margin: 0px;
	padding-left: 10px;
	padding-top: 8px;
	padding-right: 5px;
}



.unit-padding-bottom {
	height: 10px;
}

.center {
	text-align: center;
}

.line {
	margin-left: 16px;
	padding-left: 4px;
}



.level-2 {
	padding-left: 20px;
}

.arrow:before {
	content: "\25BC";	
}

.hidden {
	display: none;
}

.arrow {
	display: inline-block;
	height: 20px;
	width: 16px;
	line-height: 20px;
	padding-right: 4px;
}

.closed-expandable .arrow:before {
	content: "\25B6";
}

.closed-expandable .expandable, .closed-expandable .line {
	display: none;
}

h2 {
	text-align: center;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 12pt;
	font-weight: 700;
}

.units-page {
	width: 320px;
	border-right: 2px black solid;
	float: left;
	margin-left: 0px;
	background-color: #BFBFBF;
}

.scrollable {
	overflow: auto;
}

.properties-page {
	width: 320px;
	border-left: 2px black solid;
	border-right: 2px black solid;
	float: right;
	margin-left: 0px;
	background-color: #BFBFBF;
	display: flex;
	flex-direction: column;
}

.properties-page button[type=reset] {
	text-align: center;
	left-margin: 20px;
}

.unit-panel-bottom {
	border-top: 1px black solid;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 100%;
}

.unit-flex-padding-bottom {
	flex: 1;
	padding: 0;
}

.units-form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.line-graph-form {
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	box-sizing: border-box;
}

.bar-graph-form {
	display: flex;
	flex-direction: column;
	border-bottom: 2px black solid;
}

.charts-page {
	margin-left: 322px;
	margin-right: 324px;
	overflow-y: scroll;
}

.large-graph-container {
	width: 90%;
	position: relative;
}

.intro-instructions {
	margin: 10px;
}

.flexbox {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}

.mobile-intro {
	display: none;
}

.unit-property, .button-holder {
	min-width: 50%;
	padding-top: 5px;
	padding-bottom: 5px;
	box-sizing: border-box;
	padding-left: 16px;
}

button
{
    width: 125px;
    height: 36px;
    background-color: #BFBFBF;   
    border: 0px;
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    position: relative;
}

button:active {
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5), inset -2px -2px 2px rgba(0, 0, 0, .5);
}

button:active div {
  width: 123px;
  height: 34px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4);
  position: absolute;
  left: 2px;
  top: 2px;
}

.pad-left {
	width: 10%;
}

.pad-left+.button-holder {
	min-width: 40%;
	padding-left: 32px;
}

.bar-graph-property-list {
	border-bottom: 1px black solid;
	box-sizing: border-box;
	overflow: auto;
}

.delete {
	display: block;
	position: absolute;
	right: 17.5%;
	top: 20px;
}

.hidden.hidden {
	display: none;
}