/*Default is for 320-768px and assumes touchscreen.  Tabbed, with large buttons.*/



/*320 to 800 with mouse is tabbed, without large buttons.  
IE, Firefox, and Opera Mini don't support pointer, so the 768/769 boundary for width is used as a substitute.*/
@media (min-width: 769px), (pointer: fine); { 

}

/*If the browser can detect it's a touchscreen, use the default even if it's above 768px.*/
@media (pointer: coarse) {

}

/*801 to 960px has 320px for the center panel, and scales the others to fit width.*/
@media (min-width: 800px) {

}

/*Larger buttons, for large tablets.*/
@media (min-width: 800px) and (pointer: coarse) {

}

/*961 to 1280px has 50% for the center panel and 25% for the side panels.*/
@media (min-width: 960px) {

}

/*Some tablets are still that large*/
@media (min-width: 960px) and (pointer: coarse) {

}

/*1280px and up has 320px for the side panels and the rest is the center.*/
@media (min-width: 1280px) {

}

/*I don't think any tablets are that large, but it can't hurt to include it in case they come out with one.*/
@media (min-width: 1280px) and (pointer: coarse) {

}


/*Everything below here needs to be transitioned*/

/*Style to approximately match the game*/

	* {
		font-family: "Roboto";
		font-variant: small-caps;
		font-size: 12pt; /*Scale*/
	}

	p:not(.line):not(.unit-property) {
		line-height: 150%;
	}

	html {
		background-color: #E7EFF7;
	}

	.units-panel, .properties-panel {
		background-color: #BFBFBF;
	}

	/*Button style*/

	button
	{
	    width: 125px; /*Scale*/
	    height: 36px; /*Scale and increase for touchscreen*/
	    background-color: #BFBFBF;   
	    border: 0;
	    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
	    position: relative;
	}

	button:active {
	  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5), inset -2px -2px 2px rgba(0, 0, 0, .5);
	}

	button:active div {
	  width: 123px; /*regular minus 2px*/
	  height: 34px; /*regular minus 2px*/
	  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4);
	  position: absolute;
	  left: 2px;
	  top: 2px;
	}

/*Set basic layout including scrolling, margins, and height. */

	html {
		overflow: hidden;
	}

	body {
		margin: 0;
	}

	html, body, body>div, .units-form {
		height: 100%;
	}

	.units-form, .bar-graph-form {
		display: flex;
		flex-direction: column;
	}

	.scrollable, .bar-graph-property-list {
		overflow: auto;
	}

	.charts-panel { /*So that the width doesn't change when a scrollbar is added*/
		overflow-y: scroll;
	}


/*Features unique to the tabbed version of the page*/

	.tab {
		display: none;  /*Changed to an appropriate size for tabbed*/
	}

	.mobile-intro {
		display: none;
	}

/*First panel: Units*/

	.units-panel {
		width: 320px; /*Scale, use (sans border) as main scaling factor*/
		border-right: 2px black solid;
		box-sizing: border-box;
		float: left;
		margin-left: 0px;
	}

	.units-panel-main {
		padding-bottom: 20px; /*Scale*/
	}

	p, .level-1 {
		margin: 8px 5px 0 10px; /*Scale*/
	}

	/*Including the expandability feature and arrows*/

		.arrow:before {
			content: "\25BC";
			font-size: 12pt; /*Do not scale, increase for touchscreen*/
		}

		.arrow { /*Do not scale, increase for touchscreen*/
			display: inline-block;
			height: 20px;
			width: 16px;
			line-height: 20px;
			padding-right: 4px; /*Do not increase for touchscreen*/
		}

		.closed-expandable .arrow:before {
			content: "\25B6";
		}

		.closed-expandable .expandable, .closed-expandable .line {
			display: none;
		}

	.level-2, .line {
		margin: 8px 5px 0 20px; /*Scale, but left margin scales to arrow size*/
	}

	input[type="checkbox"] {
		margin-left: 0; /*Increase by half of arrow increase for touchscreen*/
	}

	label {
		/*For touchscreen, make inline block with padding on top and bottom.*/
	}

	input[type="color"] {
		width: 13px; /*Do not scale.  Increase for touchscreen*/
		height: 13px; /*Do not scale.  Increase for touchscreen*/
		padding: 0;
		border: none;
		margin-right: 3px; /*Scale, and increase for touchscreen*/
	}

	footer {
		border-top: 1px black solid;
		padding: 5px 0px; /*Scale*/
	}

	.units-flex-padding-bottom {
		flex: 1;
	}


/*Second panel: Properties*/

	.properties-panel {
		width: 320px; /*Scale*/
		box-sizing: border-box;
		border-left: 2px black solid;
		border-right: 2px black solid;
		float: right;
		margin-left: 0px;
		display: flex;
		flex-direction: column;
	}

	.properties-panel h2 {
		text-align: center;
		margin: 0;
		padding-top: 5px; /*Scale*/
		padding-bottom: 0;
		font-size: 12pt; /*Scale*/
		font-weight: 700;
	}

	.line-graph-form {
		border-top: 2px black solid;
		border-bottom: 2px black solid;
		box-sizing: border-box;
	}

	input[type="number"] {
		width: 55px; /*Scale with panel size and consider increasing height for touchscreen*/
	}

	.unit-property, .line-graph-button-holder {
		min-width: 50%;
		padding: 5px 0 5px 5px; /*Scale*/
		box-sizing: border-box;
	}

	.line-graph-button-holder button {
		margin-left: 10px; /*Scale*/
	}

	/*Checkboxes and footer are already included from the first panel.*/

/*Third panel: Charts*/

	.intro-instructions {
		margin: 20px;
	}

	.game-title {
		text-decoration: underline;
	}

	.charts-panel {
		margin-left: 322px; /*Scale the 320*/
		margin-right: 324px; /*Scale the 320*/
	}

	.large-graph-container {
		width: 100%;
		position: relative;
	}

	.delete {
		display: block;
		position: absolute;
		right: 25%; /*Scale*/
		top: 20px; /*Do not scale*/
	}

/*General utility*/

	.flexbox {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	.hidden.hidden { /*class repeated for specificity, to avoid order dependence*/
		display: none;
	}